body {
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
  -moz-osx-font-smoothing: grayscale;
}

#blog {
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
  min-width: 400px;
}

#blog img {
  width: 100%;
  border-radius: 10px;
}
